* {
    box-sizing: border-box;
    /*border: 2px solid black;*/
}

#main-container {
    display: flex;
    flex-direction: column;
    max-height: 98vh;
}

#main-container > * {
    margin: 1%;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 25%;
}

#button-toggle {
    background-color: dodgerblue;
}

#sub-buttons-container {
    display: flex;
    align-content: stretch;
    flex-wrap: wrap;
}

#sub-buttons-container > * {
    flex: 1 1 auto;
}

#button-on {
    background: rgb(28, 184, 65);
}

#button-off {
    background: rgb(202, 60, 60);
}

#button-stop {
    background: grey;
}

#message-container {
    flex: 1 1 5%;
}

#add-trigger-container {
    display: flex;
    flex: 1 1 10%;
    justify-content: space-between;
    align-items: stretch;
    /*flex-wrap: wrap;*/
}

#add-trigger-container > * {
    flex: 1 1 auto;
}

#add-label {
    align-self: center;
}

#add-repeat-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
}

#add-repeat-container > * {
    flex: 1 1 auto;
}

#add-button {
    background-color: dodgerblue;
}

#triggers-container {
    display: flex;
    flex: 1 1 30%;
    overflow: auto;
}

#history-container {
    display: flex;
    flex: 1 3 30%;
    overflow: auto;
}

#triggers td, #history td, th {
    text-align: left;
    padding: 1px;
}

#triggers, #history {
    width: 100%;
}

.on {
    background: lightgreen;
}

.off {
    background: lightcoral;
}

.button-delete {
    background: darkred;
}
