* {
    box-sizing: border-box;
    /*border: 2px solid black;*/
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}
.container {
    width: 90%;
}

.container > * {
    margin: 20px;
}

.lights {
    display: flex;
    flex-wrap: wrap;
}

.button-toggle {
    background-color: dodgerblue;
    width: 100%;
    font-size: 300%;
}

.button-on {
    background: rgb(28, 184, 65);
    flex: 1 1 50%;
}

.button-off {
    background: rgb(202, 60, 60);
    flex: 1 1 50%;
}

.time-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px 0 0 0;
}

.time-container > * {
    margin: 5px;
}

.time-label {
    align-self: center;
    max-width: 100px;
}

.time-input {
}

.repeat-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.button-repeat {
    font-size: 80%;
    margin: 5px;
}

.button-add {
    max-width: 200px;
    background-color: dodgerblue;
}

.on {
    background: lightgreen;
}

.off {
    background: lightcoral;
}
