<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lights</title>
    <link rel="stylesheet" href="lib/font-awesome-4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="lib/pure-css-0.6.0/base-min.css">
    <link rel="stylesheet" href="lib/pure-css-0.6.0/buttons-min.css">
    <link rel="stylesheet" href="app.css">
</head>
<body ng-app="lights-app" ng-controller="LightsController as ctrl">

<!--<div class="container" ng-class="{true: 'on', false: 'off'}[ctrl.lights]">-->
<div class="container">
    <div class="lights">
        <button class="pure-button button-blue button-toggle" ng-click="ctrl.toggle()">TOGGLE</button>
        <button class="pure-button button-on" ng-click="ctrl.setState(true)">ON</button>
        <button class="pure-button button-off" ng-click="ctrl.setState(false)">OFF</button>
    </div>
    <div class="time">
        <div class="time-container">
            <label class="time-label">Add</label>
            <button class="pure-button"
                    ng-model="ctrl.newTrigger.state"
                    ng-click="ctrl.newTrigger.toggleState()"
                    >{{ ctrl.newTrigger.stateName() }}</button>
            <input class="time-input" id="time-on" type="time" ng-model="ctrl.newTrigger.time">
            <div class="repeat-container">
                <button class="pure-button button-repeat"
                        ng-class="{true: 'on', false: 'off'}[ctrl.newTrigger.repeatWeekday]"
                        ng-click="ctrl.newTrigger.toggleRepeatWeekday()"
                    >Repeat M-F</button>
                <button class="pure-button button-repeat"
                        ng-class="{true: 'on', false: 'off'}[ctrl.newTrigger.repeatWeekend]"
                        ng-click="ctrl.newTrigger.toggleRepeatWeekend()"
                >Repeat S-S</button>
            </div>
            <button class="pure-button button-add" ng-click="ctrl.addTrigger()"><i class="fa fa-check"></i></button>
        </div>
    </div>
    <table class="triggers">
        <thead>
        <tr>
            <th>State</th>
            <th>Time</th>
            <th>Next</th>
            <th>Repeat M-F</th>
            <th>Repeat S-S</th>
        </tr>
        </thead>
        <tr class="trigger" ng-repeat="trigger in ctrl.triggers">
            <td>{{ trigger.next_run_time | date: 'EEE MMM d h:mm a' }}</td>
            <td>{{ trigger.state }}</td>
            <td>{{ trigger.time }}</td>
            <td>{{ trigger.repeat_weekday }}</td>
            <td>{{ trigger.repeat_weekend }}</td>
        </tr>
    </table>
</div>


<script src="lib/moment-2.11.2/moment.min.js"></script>
<script src="lib/angular-1.5.0/angular.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>